<a href="https://colab.research.google.com/github/setoba1192/diplomado-introduccion-python/blob/main/first-class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Clase 12-11-2022

clase = (2.71828182**(1+2*(5-6)))
var2 = 1
print("el resultado de la operación es: ",clase, "variable2 es", var2)

el resultado de la operación es:  0.3678794423162496 variable2 es 1

In [ ]:
div1 = 7/5
div2 = 7//5
oper = div1-div2
print(div1,"\n",div2,"\n", oper)

1.4
 1
 0.3999999999999999

In [ ]:
print("Hola mundo","estoy aprendiendo python")

Hola mundo estoy aprendiendo python

In [17]:
var = True

print(not var)

False

In [20]:
nota1 = float(input("Por favor ingresa la primera nota: "))
nota2 = float(input("Por favor ingresa la segunda nota: "))
nota3 = float(input("Por favor ingresa la tercera nota: "))
prom = ((nota1+nota2+nota3)/3)
print("el valor del promedio es: ", round(prom,2))

Por favor ingresa la primera nota: 4
Por favor ingresa la segunda nota: 5
Por favor ingresa la tercera nota: 1
el valor del promedio es:  3.33

In [21]:
a = 1+3
print(a)
a = 3+5
print(a)
a = 45-56
print(a)

4
8
-11

In [22]:
total = float(input("Por favor ingresa el valor de la compra del cliente: "))
descuento = total * 0.15
final = total -descuento
print("el valor a pagar es: ", final)

Por favor ingresa el valor de la compra del cliente: 500
el valor a pagar es:  425.0

In [30]:
farenheith = float(input("Ingresar el valor de grados en Farenheith: "))

celsius = round(((farenheith - 32) * 5/9),2)

print("Los grados Farenheith", farenheith, "convertido a Celsius es:", celsius)

Ingresar el valor de grados en Farenheith: 5
Los grados Farenheith 5.0 convertido a Celsius es: -15.0

In [29]:
c = float(input("Ingresa la temperatura en Celcius: "))
f = (c * (9/5)) + 32

print("El valor de Celcius", c, "convertido a Farenheith es de:",f)

Ingresa la temperatura en Celcius: 4
El valor de Celcius 4.0 convertido a Farenheith es de: 39.2

In [34]:
#Cuadrática

a = int(input("Ingresa el valor de a: "))
b = int(input("Ingresa el valor de b: "))
c = int(input("Ingresa el valor de c: "))

rq = (b**2-(4*(a*c)))**(1/2)
r1 = (-b+(rq))/2*a
r2 = (-b-(rq))/2*a

#r1 =(-b+((b**2-(4*(a*c)))**(1/2)))/2*a
#r2 =(-b-((b**2-(4*(a*c)))**(1/2)))/2*a

print("El valo rde la R1 es",r1)
print("El valo rde la R2 es",r2)

Ingresa el valor de a: 1
Ingresa el valor de b: 2
Ingresa el valor de c: -15
El valo rde la R1 es 3.0
El valo rde la R2 es -5.0